
<div class="profile">
  <h3>Hi <%= @profile["name"] %>!</h3>
  <p>It seems that you love '<%= @profile["obsession"] %>.'</p>
  <p>And you live in '<%= @profile["location"] %>.'</p>
</div>

<div class="feed-list">
  <h2>Profile's Feeds</h2>

  <% @feeds.each do |feed| %>
    <div class="feed-entries">
      <%= render(:erb, :"feeds/feed_templates/_#{feed["name"]}", :locals => {:entries => get_entries(feed)}) %>
      <form class="button" method="POST" action="/profile">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="feed_id" value="<%= feed["id"] %>" />
        <input type="submit" value="Remove"/>
      </form>
    </div>
  <% end %>
</div>
